<form action="" method="post">
    <input type="hidden" name="id" value="{{training.id}}">
    <label for="title">
        Titre
        <input type="text" id="title" name="title" placeholder="Titre" value="{{training.title}}" required>
    </label>

    <label for="content">
        Contenu
        <textarea name="content" id="content" rows="10">{{training.content}}</textarea>
    </label>
    <button type="submit">Enregistrer</button>
</form>


{% block javascript %}
<script src="https://cdn.ckeditor.com/ckeditor5/37.1.0/classic/ckeditor.js"></script>
<script>
    ClassicEditor.create( document.querySelector( '#content' ) )
    .catch( error => {
        console.error( error )
    });

</script>
{% endblock %}
