{% extends 'layout.html.twig' %}

{% block content %}
	<section class="grid grid-2cols">
		{% include "Training/_sidebar.html.twig" %}
		<div>
            {% block main %}{% endblock %}
        </div>
	</section>
{% endblock %}
