body {
    margin: 0;
    display: flex;
    height: 100vh;
}

body > main {
    flex: 1;
    background-color: var(--bs-gray-300);
    overflow: auto;
    padding: var(--spacing);
}

body > aside {
    height: 100vh;
    padding: .5rem;
    background-color: var(--dark);
    width: 12rem;
}

body > aside h1,
body > aside > nav a {
    --color: var(--primary-inverse);
}

main form {
    max-width: 65ch;
    margin: 0 auto;
}