html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    min-height: 100%;
}

body>main {
    --block-spacing-vertical: 1rem;
}

.content h2 {
    color: var(--primary);
}
.content h3 {
    color: var(--primary);
}
