ul.list-grid-square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--spacing) * 2);
    max-width: 65ch;
    margin: 0 auto;
}
ul.list-grid-square > li {
    list-style: none;
    margin-bottom: 0;
}
ul.list-grid-square>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: var(--border-radius);
    background-color: var(--primary);
    color: var(--primary-inverse);
}