<nav class="navbar-responsive">
	<h1>
		<a href="/">Auto école JB</a>
	</h1>
	<form id="form-navigation">
		<label for="menu">
			<input type="checkbox" id="menu" aria-label="Toggle menu">
		</label>
	</form>
    <label for="reset-form-navigation" >
        <input type="reset" form="form-navigation" id="reset-form-navigation" aria-label="Close menu">
    </label>
	<ul>
		<li><a href="/training">Formations</a></li>
		<li><a href="#">Tarifs</a></li>
		<li><a href="#">Infos pratiques</a></li>
	</ul>
</nav>